/* ---------------------------------------------------------
   LAYOUT FIXES
--------------------------------------------------------- */
#root {
    width: 100%;
    font-family: var(--font-body);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

ul,
ol {
    margin: 15px 0;
}

a {
    color: var(--color-brand-400);
    transition: all 0.3s ease;
}

a:hover {
    color: var(--color-brand-300);
}

p{
    margin-bottom: 15px;
}