@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Theme tokens */
@import "./_tokens-base.css";
@import "./_tokens-dark.css";
@import "./_tokens-themes.css";

/* Typography system */
@import "./_typography.css";

/* Utilities */
@import "./_utilities.css";

/* Layout */
@import "./_layout.css";
